/* src/app/globals.css */
@import "tailwindcss";

@theme {
  --color-bg-main: #0f172a;
  --color-bg-secondary: #002a4a;
  --color-accent: #2f8f50;
  --color-text-muted: #9d9d9d;
  --color-text-main: #ffffff;

  --color-background: var(--color-bg-main);
  --color-surface: var(--color-bg-secondary);
  --color-primary: var(--color-accent);
  --color-muted: var(--color-text-muted);
  --color-white: var(--color-text-main);
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: Arial, Helvetica, sans-serif;
}